<h1>ADD NEW MOVIE TO COLLECTION</h1>

<form action="" method="post">
    <input type="text" placeholder="Title:" ng-model="title">
    <input type="number" min="1900" max="2050" step="1" value="2018" 
    placeholder="Year" ng-model="ryear">
    <select name="mtype" ng-model="mtype">
        <option value="Movie">Movie</option>
        <option value="Series">Series</option>
        <option value="Episode">Episode</option>
    </select>
    <input type="submit" ng-click="vm.addMovie()">

    <form action=""></form>
</form>