<body>
    <h1 ng-init = "vm.soloMovie()" style="display: block; margin-left: auto; margin-right: auto;"> {{vm.expMovie.api.Title}} </h1>
     <p style="color: darkgray">{{vm.expMovie.api.Released}}</p>

   <span> <p style="font-style: italic; display: inline;"> Starring:</p> <p style="display: inline;">{{vm.expMovie.api.Actors}}</p> </span>
    <h3>Rated: <span style="font-style: italic; display: inline;">  {{vm.expMovie.api.Rated}}</span></h3>
    <img height="750" width="300" style="display: block; margin-left: auto; margin-right: auto;" ng-src="{{vm.expMovie.api.Poster}}">

    <p style="float: left;" >Plot: {{vm.expMovie.api.Plot}}</p>

    <footer>
        <h4>{{vm.expMovie.api.Ratings[1].Source}} Rating:</h4>
        <p>{{vm.expMovie.api.Ratings[1].Value}}</p>
    </footer>
    <md-button class="md-raised md-primary" ng-click="vm.closeMovie()">Close</md-button>
</body>