<body>
    <h1 ng-init = "vm.soloMovie()"> {{vm.expMovie.api.Title}} </h1>
    <h3>Starring: </h3> 
    <p>{{vm.expMovie.api.Actors}}</p>
    <h3>Rated: {{vm.expMovie.api.Rated}}</h3>
    <img height="600" width="300" style="float: right;" ng-src="{{vm.expMovie.api.Poster}}">

    <p style="float: left;" >Plot: {{vm.expMovie.api.Plot}}</p>

    <footer>
        <h4>{{vm.expMovie.api.Ratings[1].Source}} Rating:</h4>
        <p>{{vm.expMovie.api.Ratings[1].Value}}</p>
    </footer>
    <md-button class="md-raised md-primary" ng-click="vm.closeMovie()">Close</md-button>
</body>